---
import Layout from "../layouts/Layout.astro";
import Badge from "../components/Badge.astro";
import SectionContainer from "../components/SectionContainer.astro";
import SocialPill from "../components/SocialPill.astro";
import LinkedIn from "../components/Icons/LinkedIn.astro";
import Github from "../components/Icons/Github.astro";
import Facebook from "../components/Icons/Facebook.astro";
import Instagram from "../components/Icons/Instagram.astro";
import Experience from "../components/Experience.astro";
import Maleta from "../components/Icons/Maleta.astro";
import Skill from "../components/Icons/Skill.astro";
import Code from "../components/Icons/Code.astro";
import Projects from "../components/Projects.astro";
import Habilidades from "../components/Habilidades.astro";
---

<Layout title="Porfolio de Vanessa  - Analista" description="Mi portafolio">
  <main class="px-4">
    <SectionContainer class="py-24 md:py-36 pb-16 md:pb-24">
      <img
        src="/Fotomia.jpg"
        alt="Danna-photo"
        class="object-contain rounded-full w-24 h-24 md:w-32 md:h-32 lg:w-40 lg:h-40 mb-4"
      />

      <h1
        class="text-[#0b8c91] dark:text-[#c5cff9] text-2xl text-pretty md:text-4xl lg:text-5xl font-Gupter flex flex-row gap-x-4 pb-4 md:pb-6 lg:pb-10"
      >
        Hola, Soy Vanessa 
        <a
          class="flex justify-center items-center"
          href="https://www.linkedin.com/in/danna-vanessa-navia-01b24b315/"
          target="a_blank"
          rel="noopener"
        >
          <Badge>Disponible para trabajar</Badge>
        </a>
      </h1>
      <h2 class="text-lg md:text-xl lg:text-2xl text-wrap max-w-[700px] text-[#000000] dark:text-[#fafbfd] " >
        <span class="opacity-80">
          Estudiante avanzado de Ingeniería de Sistemas ,con una sólida base en en el análisis de datos 
          ,en el levantamiento de requerimientos , diagramación de BPMN, modelado BD e inteligencia artificial. 
        </span>
        <span class="opacity-80">
          Me encuentro en constante búsqueda de nuevos desafíos y oportunidades de aprendizaje.
       Mi capacidad para adaptarme a nuevas tecnologías y mi compromiso con 
       la excelencia me permiten aportar valor a cualquier equipo.
        </span>
      </h2>
      <nav class="flex gap-2 md:gap-4 mt-4 md:mt-8 flex-wrap">
        <SocialPill
          href="https://www.linkedin.com/in/danna-vanessa-navia-01b24b315/"
        >
          <LinkedIn class="w-4 h-4 md:w-6 md:h-6" />
          LinkedIn
        </SocialPill>
        <SocialPill href="https://github.com/Dannanavia?tab=overview&from=2023-12-01&to=2023-12-31">
          <Github class="w-4 h-4 md:w-6 md:h-6" />
          Github
        </SocialPill>
        <SocialPill href="https://web.facebook.com/danna.navia.9/">
          <Facebook class="w-4 h-4 md:w-6 md:h-6" />
          Facebook
        </SocialPill>
        <SocialPill href="https://www.instagram.com/dananabia2000/">
          <Instagram class="w-4 h-4 md:w-6 md:h-6" />
          Instagram
        </SocialPill>
      </nav>
    </SectionContainer>

    <SectionContainer id="Experiencia">
      <h2
        class="text-[#000000] dark:text-[#fafbfd] md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Maleta class="w-6 h-6 md:w-7 md:h-7" />
        Experiencia laboral
      </h2>
      <Experience />
    </SectionContainer>

    <SectionContainer id="Habilidades" class="flex-wrap">
      <h2
        class="text-xl text-[#000000] dark:text-[#fafbfd]  md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Skill class="w-6 h-6 md:w-7 md:h-7" />
        Habilidades
      </h2>
      <Habilidades />
    </SectionContainer>

    <SectionContainer id="Proyectos">
      <h2
        class="text-xl   text-[#000000] dark:text-[#fafbfd]  md:text-2xl font-semibold mb-4 md:mb-6 flex gap-x-2 md:gap-x-3 items-center"
      >
        <Code class="w-6 h-6 md:w-7 md:h-7" />
        Proyectos
      </h2>

      <Projects />
    </SectionContainer>
  </main>
</Layout>
