---
import ExperienceItem from "./ExperienceItem.astro";

const Exp = [
  {
    date: "Actualmente",
    title: "Sin experiencia ",
    description:
      "",
  },
];
---

<ol class="relative border-s border-sky-600  ml-3">
  {
    Exp.map((Exp) => (
      <li class="mb-10 ms-4">
        <ExperienceItem {...Exp} />
      </li>
    ))
  }
</ol>
